@model  PublishViewModel;
@{
    ViewData["Title"] = "Send Page";
}


<div class="text-center">
    <h1 class="display-4">Action Result</h1>

  
    <p>@Model.Msg </p>

      <p><a href="/Send/">Send Some More Messages</a>.</p>

     <p><a href="/Publish/">Publish Some More Messages to Subscribers</a>.</p>


</div>
